.img-fixed {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.img-fixed:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
}

.social-icon {
    font-size: 2.5rem;
    padding: 0;
    background-color: transparent !important;
    box-shadow: none;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

/* colori brand */
.social-icon.whatsapp:hover {
    color: #25d366;
}

.social-icon.phone:hover {
    color: #0d6efd;
}

.social-icon.instagram:hover {
    background: none;
    color: #c13584;
}

#calendar {
    max-width: 50vw;
    margin: 0 auto;
    font-size: 0.8rem;
}

.fc .fc-daygrid-day-number {
    font-size: 0.8rem;
}

.fc .fc-toolbar-title {
    font-size: 0.9rem;
}

.fc .fc-col-header-cell-cushion {
    font-size: 0.7rem;
}

.fc .fc-daygrid-day {
    padding: 2px;
}

.card-form {
    background: #ffffff;
}

.card-body h2 {
    letter-spacing: 0.5px;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 3, 9, 0.367);
}

form input{
    max-width: 50vh;
}

/* Transizione per tutte le card */
.transition-transform {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effetto hover: scala leggermente e aumenta l'ombra */
.hover-scale:hover {
    transform: scale(1.05);
}

.hover-shadow:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
}

.bg-layout {
    background-color: #cfd3d6;
}

/* stile card admindashboard */
        .timeline li {
            list-style: none;
        }
        .timeline li span {
            width: 12px;
            height: 12px;
        }