.img-fixed {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.img-fixed:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
}

.social-icon {
    font-size: 2.5rem;
    padding: 0;
    background-color: transparent !important;
    box-shadow: none;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

/* colori brand */
.social-icon.whatsapp:hover {
    color: #25d366;
}

.social-icon.phone:hover {
    color: #0d6efd;
}

.social-icon.instagram:hover {
    background: none;
    color: #c13584;
}
